html {
    height: 100%;
}
body {
    font-style:italic;
    background: linear-gradient(#7124eb,#0ed1ca);
    font-family:  erty;  
    color:#c10000;
}
@font-face {
    font-family:erty;
    src:url ("../fonts/BebasNeue-Regular.ttf")
}
.container {
    width: 780px;
    margin:0 auto;
    padding:0 20px;
    background: #fff;
}
#eh {
   margin:0 auto; 
   width:225px;
}
h3 {
    font-size:12px;
    /*margin:  30px;*/
}
h1 {
    font-size:27px;
   /* margin:  30px;*/
   
}
h2 {
    font-size:20px;
   /* margin:  30px;*/
    
}










 







